.App {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}
code{
  background-color: gainsboro;
}
img{
  width: 300px;
}

textarea{
  width: 40vw;
  height: 100vh;
  resize: none;
}

.footer{
  width: 100%;
}
.footer_text{
  text-align: center;
}
